
.franja {
    border-right: 1px solid black;
    float: left;
    width: 20px;
    color: black;
    text-align: center;
}

.form-select-date div p {
    min-height: 70px;
}

.form-select-date>div>div {
    background: lightgrey;
    border-radius: 5px;
    padding: 5px;
    min-height: 250px;
    
}

.form-select-date .select-grups {
    min-height: 199px;
}
.schedule td {
    border-right: 1px solid black;
}